@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --color-white: #F5F5F5;
    --color-pastelpink: #FFC1E3;
    --color-violet: #61418B;
    --color-black: #282C35;
}